.content-container {
  text-align: center;
}

.order-table {
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
  text-align: left;
}

.price {
  padding-left: 100px;
}

.details {
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  text-align: left;
}

.twoCol {
  width: 97.5%;
}
