body {
  margin: 0;
  padding: 0;
  /* background: #cdcdcd; */
  color: #232323;
}
h1 {
  font-size: 64px;
  text-align: center;
  color: #deac7f;
}
h2 {
  color: #a77549;
  font-size: 36px;
}
h3 {
  color: #232323;
  font-size: 24px;
}
p {
  color: #232323;
  font-size: 16px;
}
.container {
  padding: 1.5rem 6rem;
}
.divider {
  border-top: 1px solid #232323; /* Change the color and thickness as needed */
  margin: 5px 0; /* Adjust margin to control spacing */
}
footer {
  background-color: #232323;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
h4 {
  color: #fffcf8;
  font-size: 16px;
  font-weight: bold;
}
.footer-column {
  flex: 1;
}
.footer-column ul {
  list-style: none;
  padding-left: 0px;
}
.footer-column ul li {
  padding: 5px 0;
}
.footer-column ul li a {
  text-decoration: none;
  color: #fffcf8c0;
  padding: 0.4rem;
}
.itemsFlex {
  display: flex;
}

/* ---------------------------- NAVBAR ---------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232323;
  /* Background color for the navbar */
  color: #ede7db;
  padding: 0.5rem 6rem;
}

.left-menu {
  text-align: left;
}
#logo {
  text-align: center;
  /* padding: 10px; */
}
#rightnav {
  text-align: right;
  padding: 10px;
}
.navbar a {
  text-decoration: none;
  margin: 0 10px;
  color: #ede7db;
}
/*  */
/* ---------------------------- hamburger menu ---------------------------- */
#menuToggle {
  display: block;
  /* position: relative; */
  /* top: 50px; */
  /* left: 50px; */
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  background-color: #232323;
}
#menuToggle a {
  text-decoration: none;
  color: #ede7db;
  transition: color 0.3s ease;
}
#menuToggle a:hover {
  color: #deac7f;
}
#menuToggle input {
  display: block;
  width: 45px;
  height: 35px;
  position: absolute;
  margin: -6px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
/* Just a quick hamburger  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ede7db;
  border-radius: 5px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
/* Transform all the slices of hamburger into a crossmark.  */
/* top line */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ede7db;
}
/* bottom line */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
/* hide the middle one. */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: fixed;
  width: 200px;
  height: 100%;
  margin: -100px 0 0 -6rem;
  padding: 6rem;
  padding-top: 125px;

  background: #fffcf8;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background-color: #232323;
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul {
  transform: none;
}

/*  */
/* ---------------------------- general links ---------------------------- */
.more {
  text-align: center;
  padding: 2rem;
}
.more a {
  color: #232323;
}
a.no-style {
  text-decoration: none;
  color: inherit;
}

/*  */
/* ---------------------------- Btn ---------------------------- */

.orderBtn {
  border-radius: 0px;
  padding: 10px 60px 10px 60px;
  margin: auto;
  border: none;
  font-weight: 300;
  background-color: #deac7f;
}
.orderBtn:hover {
  cursor: pointer; /* Change cursor on hover to pointer */
  border: none;
}
.orderForm {
  text-align: center;
}
