/*  */
/* ---------------------------- banner ---------------------------- */
#banner {
  width: auto;
  height: auto;
}
#banner img {
  width: 100%;
}

/*  */
/* ---------------------------- specialise ----------------------------*/
#whatWeDo {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
}

#whatWeDo div {
  flex: 1;
  text-align: center;
}
#whatWeDo_img {
  width: auto;
  height: 380px;
  /* background-color: gray; */
}
#whatWeDo_img img {
  height: 100%;
}
#whatWeDo_p {
  padding: 0.5rem 2rem;
}

/*  */
/*  ----------------------------  top picks  ----------------------------  */
.itemsFlex {
  display: flex;
}
#topPick{
  padding: 1.5rem 9.5rem;
}
.package {
  margin: auto;
  min-height: 310px;
  background-color: #FFFCF8;
  padding: 2rem;
}
.package h3,
.package h2 {
  text-align: center;
}

.food_items {
  flex: 4;
  padding: 0.4rem 0.8rem;
  width: 180px;
}
.price {
  flex: 1;
  padding: 0.4rem 0.8rem;
  text-align: center;
}
.totalPrice {
  text-align: center;
}
.totalPrice h2 {
  margin-top: 1.2rem;
  margin-bottom: 0;
}
.totalPrice p {
  margin-top: 0;
}

/*  */
/* ---------------------------- about us ---------------------------- */
.sideImage {
  flex: 3;
  /* margin: 1.2rem 2rem; */
}
.about_img {
  height: 250px;
  margin: 20px;
  /* background-color: aquamarine; */
}
.centerText {
  flex: 5;
  /* padding: 2rem;
  margin: 3rem 2rem; */
  text-align: center;
  position: relative;
  width: 100%;
  /* background-color: gray; */
}
.centered {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  text-align: center; /* Center text within the element */
}

.centerText h2 {
  margin-bottom: 1.2rem;
  margin-top: 0;
}
.centerText h3,
.centerText p {
  margin-bottom: 0;
}

#OurStory {
  margin: 1rem;
  border: 10px #232323 solid;
  background-color: #FFFCF8;
  box-shadow: 2px 2px 15px gray;
}

/* footer */
