#content {
  display: flex;
  flex-direction: column;
}

#section {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  padding-bottom: 40px;
}

* #section_left {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#section_right p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#section_right div ul li {
  list-style-type: none;
  background: url("../images/coffeeicon.png") no-repeat left center;
  background-size: 30px;
  padding: 5px 10px 5px 40px;
  margin: 0;
  vertical-align: middle;
}
