/*  */
/* ---------------------------- banner ---------------------------- */
#banner {
  width: auto;
  height: 600px;
  background-color: gray;
  text-align: center;
}

/*  */
/* ---------------------------- specialise ----------------------------*/
#whatWeDo {
  display: flex;
  justify-content: space-between;
}

#whatWeDo div {
  flex: 1; /* Make the divs take equal space */
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}
#whatWeDo_img {
  width: auto;
  height: 300px;
  background-color: gray;
}

/*  */
/*  ----------------------------  top picks  ----------------------------  */
.itemsFlex {
  display: flex;
}
.package {
  margin: auto;
  background-color: gray;
  padding: 2rem;
}
.package h3,
.package h2 {
  text-align: center;
}

.food_items {
  flex: 4;
  padding: 0.4rem 0.8rem;
  width: 180px;
}
.price {
  flex: 1;
  padding: 0.4rem 0.8rem;
  text-align: center;
}
.totalPrice {
  text-align: center;
}
.totalPrice h2 {
  margin-top: 1.2rem;
  margin-bottom: 0;
}
.totalPrice p {
  margin-top: 0;
}
.totalPrice button {
  width: 80%;
  height: 50px;
  border: none;
  font-size: 16px;
}

/*  */
/* about us */
.sideImage {
  flex: 3;
  margin: 1.2rem 2rem;
}
.about_img {
  height: 250px;
  margin: 20px;
  background-color: aquamarine;
}
.centerText {
  flex: 5;
  /* padding: 2rem;
  margin: 3rem 2rem; */
  text-align: center;
  position: relative;
  width: 100%;
  background-color: gray;
}
.centered {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  text-align: center; /* Center text within the element */
}

.centerText h2 {
  margin-bottom: 1.2rem;
  margin-top: 0;
}
.centerText h3,
.centerText p {
  margin-bottom: 0;
}
